#table {
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
}

#table tr:nth-child(2n) {
  background: var(--dark-grey);
}

#table th,
#table td {
  padding: 5px;
  border: 1px solid var(--dark-grey);
  text-align: left;
}

#table button {
  text-align: center;
  padding: 3px;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
}


