#table {
  border-collapse: collapse;
  margin-top: 10px;
  width: 100%;
}

#table tr:nth-child(2n) {
  background: var(--highlight);
}

#table th,
#table td {
  padding: 5px;
  border: 1px solid var(--dark-grey);
  text-align: left;
  white-space: nowrap;
}

#table td.title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0;
}

#table button {
  text-align: center;
  padding: 3px;
  border: 0;
  cursor: pointer;
  border-radius: 3px;
}

.no-entries {
  text-align: center;
}
